h1{
    color: orangered;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body{
    background-color: aqua;
}

div{
    width: 50%;
    height: fit-content;
}

img{
    width: 70%;
    height: 70%;
    
}

h4{
    color: orangered;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
}

p{  
   
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellowgreen;
    width: 70%;
    height: 100%;
}